@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@400;500;600&display=swap');

:root {
    --heading-text: 'PT Serif', serif;
    --main-text: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 100px; 
}

.header .headerLeft {
   font-family: var(--heading-text);
   width: 33%;
}

.header .headerLeft h1 {
    font-size: 2.1rem;
    
}

.header .headerRight{
   font-family: var(--main-text);
   width: 50%;
}


.header .headerRight h3 {
    margin-bottom: 20px;
}


.main-container{
    display: grid;
    margin: 0 8%;
    grid-template-areas:
    "member1 member2 member3"
    "member4 member5 member6";
}



.member1{
    grid-area:member1;
}
.member2{
    grid-area:member2;
    top: 15%;
}
.member3{
    grid-area:member3;
}
.member4{
    grid-area:member4;
}
.member5{
    grid-area:member5;
    top: 15%;
}
.member6{
    grid-area:member6;
}

.image-container{
    margin-bottom: 75px;
    position: relative;
}

img {
    box-shadow: 0px 10px 15px -10px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    width: 22.1vw;
    height: 65vh;
   

   
}

.horizontal-text{
    font-family: var(--main-text);
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 10px;
}
.vertical-text{
    font-family: var(--heading-text);
    font-weight: lighter;
    writing-mode: vertical-lr;
    text-transform: uppercase;
    font-size: 0.8rem;
    position: absolute;
    /* top: 0;
    right: 40px; */
    
}


@media  (max-width: 992px) { 
.header {
    display: flex;
    flex-direction: column;
    margin: 20px; 
}

.header .headerLeft {
   font-family: var(--heading-text);
   width: 100%;
   margin-bottom: 20px;           
   
}

.header .headerRight{
   font-family: var(--main-text);
   width: 100%;
}
.header .headerRight h3 {
    margin-bottom: 0px;
}

.main-container{
    display: grid;
    margin: 0 4.2%;
    grid-template-areas:
    "member1 member2"
    "member3 member4"
    "member5 member6";
}
.member1{
    grid-area:member1;
}
.member2{
    grid-area:member2;
    top: 15%;
}
.member3{
    grid-area:member3;
}
.member4{
    grid-area:member4;
    top: 15%;
}
.member5{
    grid-area:member5;
    top: 0;
}
.member6{
    grid-area:member6;
    top: 15%;
}

img {
    box-shadow: 0px 10px 15px -10px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    width: 35vw;
    height: auto;

   
}
.vertical-text{
    font-family: var(--heading-text);
    font-weight: lighter;
    writing-mode: vertical-lr;
    text-transform: uppercase;
    font-size: 0.8rem;
    position: absolute;
    /* top: 0;
    right: 20px; */
    
}


}

@media (max-width: 1200px) { 

}
